:root {
    --background: #2d154d;
    --text: #ffffff;
    --accent: #ff0008;
    --main-color: #00000050 ;
    --header-color: #00000069 ;
    --checked: #2e1853;
}

body{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: var(--background);
    color: var(--text);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#left-cont{
    grid-column: 1;
}
#right-cont{
    grid-column: 2;
}

input[type="number"] {
    width: 90px;  
    color: var(--text);
}
.text-cont input[type="text"] {
    width: 44px;  
    color: var(--text);
}
.checkbox-grupe {
    background-color: var(--main-color);
    border-radius: 8px;
    width: 300px;
    border: 1px solid var(--accent);
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.checkbox-grupe button {
    margin: 5px;    
}
input[type="checkbox"] {
    width: 20px;   
    height: 20px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid var(--accent);
    background-color: transparent;
    appearance: none;
}
input[type="checkbox"]:checked {
    appearance: none;
    background-color: var(--checked);
    border-radius: 3px;
    border: 1px solid var(--accent);
}
#checkboxContainer input[type="checkbox"] {
    width: 20px;   
    height: 20px;
}
.addCheckbox{
    width: 30px;
    height: 30px;
    margin: 5px;
    font-size: x-large;
    border-radius: 8px;
    border: 1px solid var(--accent);
    background-color: transparent;
    color: var(--text);
}
.removeCheckbox{
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid var(--accent);
    text-align: center;
    background-color: transparent;
    color: var(--text);
}
#cbgName {
    width: 90%;
    margin: 5px;
    font-size: x-large;
    border-radius: 8px;
    border: 1px solid var(--accent);
    text-align: center;
    background-color: transparent;
    color: var(--text);
}
header {
    background-color: var(--header-color);
    display: grid;
    grid-template-columns: 0.02fr 0.13fr 0.02fr ;
    grid-template-rows: 50px 40px;
    column-gap: 10px;
    row-gap: 11px;
    padding: 10px;
    align-items: center;
}

/* Remove the manual line break in grid layout */
header br { display: none; }
#pfp {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
#pfpImport {
    width: 80px;
}


#ChName { 
    font-size: x-large;
    border-radius: 8px;
    border: 1px solid var(--accent);
    text-align: center;
    background-color: transparent;
    color: var(--text);
    margin-bottom: 5px;
    width: 290px;
    height: 39px;

}
#ChGCR { 
    font-size: x-large;
    border-radius: 8px;
    border: 1px solid var(--accent);
    text-align: center;
    background-color: transparent;
    color: var(--text);
    width: 290px;
    height: 39px;

}

#levelDropdown {
    border-radius: 8px;
    font-size: 16px;
    background-color: transparent;
    color: var(--text);
    border-color: var(--accent);
    width: 90px;
    height: 30px;
}
    

/* Grid placement for the two inputs */
#pfp { grid-column: 1; grid-row: 1; }
#pfpImport { grid-column: 1; grid-row: 2; }
#ChName { grid-column: 2; grid-row: 1; }
#ChGCR  { grid-column: 2; grid-row: 2; }
#levelDropdown { grid-column: 3; grid-row: 1; }

.Money {
    margin-left: 5px;
}

.text-cont input {
    background-color: var(--main-color);
    border-radius: 3px;
    border: 1px solid var(--accent);
    font-size: 18px;
}
.text-cont{
    display: flex;
    flex-direction: row;
    font-size: large;
    margin-left: 8px;
    margin-bottom: 5px;
}
.text-cont span {
    display: inline-block;
    width: 165px;
}

.title{
    font-size: x-large;
    font-weight: bold;
}
#stats{
    margin-left: 10px;
}
header button{
    border: 1px solid var(--accent);
    background-color: transparent;
    color: var(--text);
    border-radius: 5px;
}

